.footer {
  width: 100%;
  padding: 1em 2em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--gray-dark-color);
}

.footer__box {
  flex: 1 1;
  color: var(--white-color);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.footer__box--start {
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.footer__box--start--col1 {
  border-right: 1px solid var(--white-color);
  padding: 0 1em 0 0;
}

.footer__box--start--col2 {
  padding: 0 0 0 1em;
}

.footer__box--start--col1 ul,
.footer__box--start--col2 ul {
  list-style-type: none;
  padding: 1em 0;
}

.footer__box--start--col1 ul li,
.footer__box--start--col2 ul li {
  list-style-type: none;
  padding: 0.4em 0;
}

.footer__box--center {
  justify-content: center;
}

.footer__box--end {
  justify-content: flex-end;
}